<% content_for :title do %>Acerca de nosotras<% end %>
<h3>Sobre el sitio web</h3>
<p>
Esta aplicacion web ha sido creada con
<%= link_to('el compositor de Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
del proyecto <%= link_to('RailsApps project no gratuito', 'http://railsapps.github.io/') %>.
</p>
